<?xml version="1.0"?>
<launch>

  <!-- Load RQT with a pre-setup GUI for kuka_arm controls from a perspective file  -->
  <node name="arm_control_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find arm_control)/launch/arm_control.perspective"/>

</launch>
