<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="physics" value="ode" />  <!-- ode, bullet, dart or simbody -->
		<arg name="paused" value="false"/>
		<arg name="verbose" value="false"/>
		<arg name="gui" value="true"/>
	</include>

	<param name="robot_description" command="xacro $(find arm_description)/urdf/arm.urdf.xacro"/>
	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -model kuka_kr10r1100sixx -param robot_description"/>

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find arm_control)/config/arm_control.yaml" command="load"/>

	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/kuka_arm" args="joint_state_controller joint1_position_controller
		joint2_position_controller joint3_position_controller joint4_position_controller
		joint5_position_controller joint6_position_controller"/>

	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
	<remap from="/joint_states" to="/kuka_arm/joint_states" />
	</node>

	<node pkg="arm_control" name="control" type="control.py" output="screen"/>

	<test test-name="unit" pkg="arm_control" type="unit_test.py" />
	<test test-name="integration" pkg="arm_control" type="integration_test.py" />

	<!-- run rviz -->
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<!-- <env name="LC_NUMERIC" value="en_US.UTF-8"/> -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" /> -->

</launch>
